body {
  background-color: #1c2833;
  font-family: Fira Sans;
  color: white;
  max-width: 20em;
  margin: 0 auto;
}

h1 {
  margin: 3em 0;
  text-align: center;
}

img {
  max-width: 100%;
}

a {
  background-color: white;
  color: #1c2833;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
}

a:hover {
  background-color: pink;
}

div {
  margin-bottom: 5em;
}

p {
  margin-bottom: 2em;
}
